# Tratamento de Dados - Leads Novos

In [1]:
import gspread
import numpy as np
import os
import pandas as pd
import pytz
import re
import requests
import unicodedata

from datetime import datetime
from dotenv import load_dotenv
from google.oauth2 import service_account
from gspread_dataframe import set_with_dataframe
from oauth2client.service_account import ServiceAccountCredentials
from pathlib import Path

# === Carregar variáveis de ambiente ===
load_dotenv(Path.cwd().parent / "secrets" / ".env", override=True)

# === Definir escopos de acesso ===
scopes = [
    "https://www.googleapis.com/auth/spreadsheets.readonly",
    "https://www.googleapis.com/auth/drive.readonly"
]

# === Caminho seguro para o arquivo JSON (lido do .env) ===
cred_path = Path.cwd().parent / os.getenv("GOOGLE_CREDENTIALS_PATH")

# === Carregar credenciais de forma moderna ===
creds = service_account.Credentials.from_service_account_file(
    str(cred_path),
    scopes=scopes
)

# === Autorizar o cliente gspread ===
client = gspread.authorize(creds)

# === Função para carregar aba da planilha ===
def carregar_aba(sheet_id, aba_nome):
    planilha = client.open_by_key(sheet_id)
    aba = planilha.worksheet(aba_nome)
    dados = aba.get_all_records()
    return pd.DataFrame(dados)

# === IDs das planilhas (fixar no .env depois se quiser) ===
id_leads_l34 = "155-8YH18_ExLOLq0kWQTz1rolB4903hV6_MfD1FubkQ"
id_invest_trafego_l34 = "1A7W3qqCjDDP8oDpjLt6hZHLs68a1wmD1kWn47StFOTE"

# === Carregar DataFrames ===
df_leads_l34_forms = carregar_aba(id_leads_l34, "Respostas ao formulário 1")
df_dados_invest_face = carregar_aba(id_invest_trafego_l34, "Dados Investimento")
df_dados_invest_google = carregar_aba(id_invest_trafego_l34, "Dados Investimento Google")

# Corrige coluna 'spend' para float, tratando formatos BR se necessário
df_dados_invest_face["spend"] = (
    df_dados_invest_face["spend"]
    .astype(str)
    .str.replace(".", "", regex=False)
    .str.replace(",", ".", regex=False)
    .str.strip()
    .replace("", np.nan)
    .astype(float)
) / 100 


df_dados_invest_google["spend"] = (
    df_dados_invest_google["spend"]
    .astype(str)                       # garante string
    .str.replace(".", "", regex=False)  # remove milhar (se houver)
    .str.replace(",", ".", regex=False)  # troca decimal
    .str.strip()
    .replace("", np.nan)               # trata strings vazias
    .astype(float)                     # converte de vez
) / 1000

# Pesquisa Leads Forms

In [2]:
df_leads_l34_forms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4151 entries, 0 to 4150
Data columns (total 14 columns):
 #   Column                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                    --------------  -----
 0   Carimbo de data/hora                                                                                                                      4151 non-null   object
 1   Nome completo                                                                                                                             4151 non-null   object
 2   Seu melhor e-mail                                                                                                                         4151 non-null   object
 3   Número de WhatsApp                                                                                                                        4151 non-null   object
 4   Qual estado você reside?                                                                                                                  4151 non-null   object
 5   Qual sua faixa de idade?                                                                                                                  4151 non-null   object
 6   Qual seu nível de escolaridade?                                                                                                           4151 non-null   object
 7   Qual sua faixa salarial atualmente?                                                                                                       4151 non-null   object
 8   Qual seu estado civil?                                                                                                                    4151 non-null   object
 9   Você tem filhos?                                                                                                                          4151 non-null   object
 10  Por que você escolheu/escolheria a profissão de Policial Civil?                                                                           4151 non-null   object
 11  O que está IMPEDINDO você de conquistar o seu DISTINTIVO e ser o próximo POLICIAL CIVIL? Qual sua maior dificuldade?                      4151 non-null   object
 12  O que você espera aprender/ver no evento Operação Policial Civil - 2025?                                                                  4151 non-null   object
 13  Imagine que você está em uma mentoria individual com o Prof. Luis Costa, quais seriam as 3 principais perguntas que você faria para ele?  4151 non-null   object
dtypes: object(14)
memory usage: 454.1+ KB

In [3]:
df_leads_l34_forms.drop(columns=[
    "O que você espera aprender/ver no evento Operação Policial Civil - 2025? ",
    "Imagine que você está em uma mentoria individual com o Prof. Luis Costa, quais seriam as 3 principais perguntas que você faria para ele?"
], inplace=True)

In [4]:
# Renomear colunas do df_leads_google
colunas_renomeadas = {
    'Carimbo de data/hora': 'data',
    'Seu melhor e-mail': 'email',
    'Nome completo': 'nome',
    'Número de WhatsApp': 'whatsapp',
    'Qual estado você reside?': 'estado',
    'Qual sua faixa de idade?': 'idade',
    'Qual seu nível de escolaridade?': 'escolaridade',
    'Qual sua faixa salarial atualmente?': 'renda',
    'Qual seu estado civil?': 'estado_civil',
    'Você tem filhos?': 'filhos',
    'Por que você escolheu/escolheria a profissão de Policial Civil?': 'escolheu_profissao',
    'O que está IMPEDINDO você de conquistar o seu DISTINTIVO e ser o próximo POLICIAL CIVIL? Qual sua maior dificuldade?': 'dificuldade'
}

df_leads_l34_forms.rename(columns=colunas_renomeadas, inplace=True)

# Normalizar e deduplicar e-mails
if 'email' in df_leads_l34_forms.columns:
    df_leads_l34_forms['email'] = df_leads_l34_forms['email'].astype(str).str.lower().str.strip()

# Exibir resumo
df_leads_l34_forms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4151 entries, 0 to 4150
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data                4151 non-null   object
 1   nome                4151 non-null   object
 2   email               4151 non-null   object
 3   whatsapp            4151 non-null   object
 4   estado              4151 non-null   object
 5   idade               4151 non-null   object
 6   escolaridade        4151 non-null   object
 7   renda               4151 non-null   object
 8   estado_civil        4151 non-null   object
 9   filhos              4151 non-null   object
 10  escolheu_profissao  4151 non-null   object
 11  dificuldade         4151 non-null   object
dtypes: object(12)
memory usage: 389.3+ KB

In [5]:
df_leads_l34_forms["renda"] = (
    df_leads_l34_forms["renda"]
    .replace({
        "De R$ 1.000,00 a R$ 3.000,00": "De 1.000 a 3.000",
        "De R$ 3.000,00 a R$ 5.000,00": "De 3.000 a 5.000",
        "Até R$ 1.000,00": "Até 1.000",
        "Não estou trabalhando no momento": "Desempregado",
        "Acima de R$ 5.000,00": "Acima de 5.000"
    })
)

In [6]:
# Normalize o dicionário para garantir que as chaves estejam em minúsculo
estado_siglas = {
    k.lower(): v for k, v in {
        'são paulo': 'SP',
        'sp': 'SP',
        'rio de janeiro': 'RJ',
        'rj': 'RJ',
        'minas gerais': 'MG',
        'mg': 'MG',
        'bahia': 'BA',
        'ba': 'BA',
        'goiás': 'GO',
        'goias': 'GO',
        'go': 'GO',
        'paraná': 'PR',
        'pr': 'PR',
        'espírito santo': 'ES',
        'es': 'ES',
        'rio grande do sul': 'RS',
        'rs': 'RS',
        'santa catarina': 'SC',
        'sc': 'SC',
        'alagoas': 'AL',
        'al': 'AL',
        'paraíba': 'PB',
        'paraiba': 'PB',
        'pb': 'PB',
        'pará': 'PA',
        'pa': 'PA',
        'maranhão': 'MA',
        'ma': 'MA',
        'pernambuco': 'PE',
        'pe': 'PE',
        'amazonas': 'AM',
        'am': 'AM',
        'rio grande do norte': 'RN',
        'rn': 'RN',
        'distrito federal': 'DF',
        'df': 'DF',
        'boa vista': 'RR',
        'rr': 'RR',
        'ceará': 'CE',
        'brasília': 'DF',
        'brasilia': 'DF',
        'florianopolis': 'SC',
        'guarulhos': 'SP',
        'guarujá': 'SP',
        'Rio das ostras': 'RJ',
        'Granja': 'RJ',
        'Ceara': 'CE',
        'Tocantins': 'TO',
        'Belém': 'PA',
        'Acre': 'AC',
        'Rondônia': 'RO',
        'Itanhaém': 'SP',
        'Rio de janriro': 'RJ',
        'Volta redonda': 'RJ',
        'Botucatu': 'SP',
        'Mogi mirim': 'SP',
        'Feira de Santana': 'BA',
        'Recife': 'PE',
        'Joinville': 'SC',
        'São Bento do Sul': 'SC',
        'Juazeiro do norte': 'CE'
    }.items()
}

# Função de normalização
def normalizar_estado(valor):
    if pd.isna(valor):
        return None
    texto = str(valor).lower().strip()
    for nome, sigla in estado_siglas.items():
        if nome in texto:
            return sigla
    return valor

# Aplicar a função
df_leads_l34_forms['estado'] = df_leads_l34_forms['estado'].apply(normalizar_estado)

# Verificar resultado final
print(df_leads_l34_forms['estado'].value_counts(dropna=False))

estado
SP                            2449
MG                             345
PR                             206
BA                             192
SC                             190
RS                             161
RJ                             125
PE                             118
MA                              64
CE                              62
GO                              60
AL                              57
DF                              39
PA                              13
ES                              11
RN                               8
Florianópolis                    4
AM                               3
Piaui                            3
Río grande do Sul                2
Piauí                            2
TO                               2
AC                               2
Ce                               1
Mogi Guaçu                       1
Ipubi                            1
Ria grande do sul                1
Rondonia                         1
Picos -Pi                        1
Aracaju/se.                      1
Laranjeiras do sul               1
Vitória de Santo Antão           1
Uruguaiana                       1
Blumenau                         1
Caixa dosur                      1
RO                               1
São Raimundo nonato Piauí        1
M.T.                             1
Cuiabá-MT                        1
Ro grande do sul                 1
Góias                            1
MT                               1
Ipiau BH                         1
Conde                            1
Ipu-ce                           1
Vila Rica MT                     1
Avaré                            1
Río grande do sul                1
Piauí                            1
PB                               1
Jaraguá do sul                   1
Concórdia                        1
Gandu                            1
CE                               1
Góiase                           1
Rio grande                       1
Name: count, dtype: int64

In [7]:
# Categorias permitidas
CATEGORIAS_PERMITIDAS = {
    'médio completo',
    'superior completo',
    'fundamental completo',
    'superior incompleto',
    'técnico',
    'médio incompleto',
    'fundamental incompleto'
}

# 1. Pré-processamento
def limpar_texto(texto):
    texto = str(texto).lower().strip()
    return unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('utf-8')

# 2. Substituições comuns
SUBSTITUICOES = {
    'imcompleto': 'incompleto',
    'inclopeto': 'incompleto',
    'incompleta': 'incompleto',
    'enfetmagem': 'enfermagem',
    'encino': 'ensino',
    'esino': 'ensino',
    'ensaio': 'ensino',
    'ensino superior incomoda': 'superior incompleto',
    'sup incompleto mais cursando': 'superior incompleto',
    'superior curso': 'superior incompleto',
    'superior engenharia mecanica incompleto': 'superior incompleto',
    'comecei direito, mas nao finalizei': 'superior incompleto',
    'faco radiologia': 'superior incompleto',
}

def aplicar_substituicoes(val):
    for k, v in SUBSTITUICOES.items():
        val = val.replace(k, v)
    return val

# 3. Mapeamento explícito
MAPEAMENTO_EXPLICITO = {
    'incompleto': 'superior incompleto',
    'none': None,
    'cursando': 'superior incompleto',
    'setimo ano': 'fundamental incompleto',
    'comecando a faculdade': 'superior incompleto',
    'cursando terceiro ano medio': 'médio incompleto',
    'bombeira civil': 'técnico',
    'sim': None,
    'auxiliar de enfermagem': 'técnico',
    'enfermagem': 'superior incompleto',
    '5 seria': 'fundamental incompleto',
    '8 seria': 'fundamental incompleto',
    'estudante': 'médio incompleto',
    'pos graduado': 'superior completo',
    'estou no 2°ano ensino medio': 'médio incompleto',
    'e completo': 'médio completo',
    'cursando pedagogia': 'superior incompleto',
    'cursando gestao em rh': 'superior incompleto',
    "2'ano": 'fundamental incompleto',
    'tec enfermagem': 'técnico',
    'ciencias contabeis': 'superior incompleto',
    'ensino medio completando': 'médio incompleto',
    '2': 'fundamental incompleto',
    'cursando o supervisor': 'superior incompleto',
    'estudar ainda': 'médio incompleto',
    'cursando gestao agronegocio': 'superior incompleto',
    'terapeuta ocupacional ( cursando)': 'superior incompleto',
    'engenharia nao concluida': 'superior incompleto',
    'preciso terminar o ensino fundamental': 'fundamental incompleto',
    'alguns certificados na area da seguranca': 'técnico',
}

def aplicar_mapeamento_explicito(val):
    return MAPEAMENTO_EXPLICITO.get(val)

# 4. Categorização padrão
def categorizar_padrao(val):
    if any(p in val for p in ['fundamental incompleto', 'parei no', 'nao terminei fundamental', 'nono ano', 'quint', 'sere', 'serie']) \
       or re.search(r'\b[1-9]{1,2}[ºo]?\s*(ano|serie)', val) and 'medio' not in val:
        return 'fundamental incompleto'
    
    if 'fundamental completo' in val or 'primeiro grau completo' in val:
        return 'fundamental completo'

    if any(p in val for p in ['ensino medio incompleto', 'medio incompleto', '2º colegial incompleto', 'eja', 'ensino medio nao']):
        return 'médio incompleto'

    if any(p in val for p in ['ensino medio completo', 'medio completo', 'magisterio']):
        return 'médio completo'

    if any(p in val for p in ['superior completo', 'graduacao completa', 'nivel superior completo', 'pos-graduacao', 'pos graduacao']) \
       or ('graduacao' in val and 'cursando' not in val and 'incompleto' not in val):
        return 'superior completo'

    if any(p in val for p in ['tecnico', 'tecnologo', 'tecnologia', 'curso tec']):
        return 'técnico'

    if any(v in val for v in ['cursando', 'concluindo', 'fazendo', 'em andamento', 'graduando', 'estudando', 'terminando']):
        if any(n in val for n in ['superior', 'faculdade', 'universidade', 'direito', 'biomedicina', 'administracao']):
            return 'superior incompleto'
        elif 'ensino medio' in val or 'medio' in val or 'colegial' in val:
            return 'médio incompleto'
        elif 'fundamental' in val or 'serie' in val:
            return 'fundamental incompleto'

    if re.search(r'[0-9]{1,2}.*semestre', val) or 'periodo' in val:
        return 'superior incompleto'

    return val

# 5. Ajustes finais
AJUSTES_FINAIS = {
    'pos graduado': 'superior completo',
    'pos graduada': 'superior completo',
    'pos-graduacao': 'superior completo',
    'pos-graduada': 'superior completo',
    'pos graduado em gestao de projetos': 'superior completo',
    'mestrado': 'superior completo',
    'mba': 'superior completo',
    'cursando graduacao': 'superior incompleto',
    'cursando graduacao em radiologia': 'superior incompleto',
    'cursando graduacao em enfermagem': 'superior incompleto',
    'cursanso ensino superior': 'superior incompleto',
    'cursanso faculdade': 'superior incompleto',
    'superior incompleto ☹️': 'superior incompleto',
    'estou, termiando o ensino medio!': 'médio incompleto',
    '8 incompleto': 'fundamental incompleto',
}

def aplicar_ajustes_finais(val):
    return AJUSTES_FINAIS.get(val, val)

# --------------------------
# Função principal
# --------------------------
def normalizar_escolaridade(valor):
    if pd.isna(valor):
        return None

    val = limpar_texto(valor)
    val = aplicar_substituicoes(val)

    mapeado = aplicar_mapeamento_explicito(val)
    if mapeado:
        val = mapeado
    else:
        val = categorizar_padrao(val)

    val = aplicar_ajustes_finais(val)

    if val not in CATEGORIAS_PERMITIDAS:
        return None

    return val

In [8]:
df_leads_l34_forms['escolaridade_original'] = df_leads_l34_forms['escolaridade']
df_leads_l34_forms['escolaridade'] = df_leads_l34_forms['escolaridade_original'].apply(normalizar_escolaridade)

df_leads_l34_forms['escolaridade'].value_counts()

escolaridade
médio completo            2731
superior completo          566
fundamental completo       522
superior incompleto        127
médio incompleto            42
técnico                     39
fundamental incompleto      39
Name: count, dtype: int64

In [9]:
# Função de limpeza de texto
def limpar_texto(texto):
    texto = str(texto).strip().lower()
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('utf-8')
    texto = re.sub(r'[^\w\s]', '', texto)  # remove pontuação
    return texto

# Mapeamento por categoria
def normalizar_estado_civil(valor):
    if pd.isna(valor):
        return None

    val = limpar_texto(valor)

    if val in {'solteiroa', 'solteiro', 'viuvo solteiro'}:
        return 'solteiro(a)'

    if val in {'casadoa', 'tenho esposa e filhos mais nao casado formalmente'}:
        return 'casado(a)'

    if val in {
        'divorciadoa ou separadora', 'divorciadoa', 'separado', 'separada', 'em processo de separacao',
        'divorciando', 'divorciado uniao estavel'
    }:
        return 'divorciado(a)'

    if val in {
        'uniao estavel', 'moro junto', 'mora junto', 'moramos juntos', 'morando junto',
        'morando com alguem', 'convivente', 'amigado', 'amigada', 'amaziado',
        'moro com um pessoal', 'tenho companheira e filhos', 'moro a 20 anos',
        'moro a mais de 5 anos com minha conjuge', 'ajuntado sem uniao estavel', 'namorando'
    } or 'moro junto' in val or 'com meu parceiro' in val:
        return 'união estável'

    if val in {'viuva', 'viuvo', 'viuva de companheiro'}:
        return 'viúvo(a)'

    return valor  # mantém valor original se não reconhecido

# Ajustes finais de exceções residuais
AJUSTES_FINAIS_ESTADO_CIVIL = {
    'vendendor autonomo e sou vigilante': None,
    'estou terminado o ensino medio': None,
    '5serie': None,
    'enrolada': 'união estável',
    'leandro alves': None
}

def aplicar_ajustes_finais_estado_civil(valor):
    if valor in CATEGORIAS_VALIDAS_ESTADO_CIVIL:
        return valor  # já está padronizado

    val_limpo = limpar_texto(valor)
    return AJUSTES_FINAIS_ESTADO_CIVIL.get(val_limpo, None)  # se não reconhecido, descarta

# Categorias válidas
CATEGORIAS_VALIDAS_ESTADO_CIVIL = {
    'solteiro(a)',
    'casado(a)',
    'divorciado(a)',
    'união estável',
    'viúvo(a)'
}

In [10]:
df_leads_l34_forms['estado_civil_original'] = df_leads_l34_forms['estado_civil']
df_leads_l34_forms['estado_civil'] = df_leads_l34_forms['estado_civil_original'].apply(normalizar_estado_civil)

df_leads_l34_forms['estado_civil'].value_counts()

estado_civil
solteiro(a)                                             1551
casado(a)                                               1516
união estável                                            538
Divorciado(a) ou Separado(a)                             499
viúvo(a)                                                  21
Amasiado                                                   2
Amasiado                                                   2
Junto                                                      2
Moro com minha esposa e 2 filhos                           1
Tenho uma companheira                                      1
Morro jinto                                                1
Casado mas nada no papel a mais de 10 anos                 1
Ajuntado                                                   1
União estável ,,viuva                                      1
Divorced                                                   1
Convivo com parceira                                       1
Divorciado oficialmente,  porem convvo a 18 juntos.i       1
Casado                                                     1
divorciado(a)                                              1
Amaciado                                                   1
Se conhecendo                                              1
Divorciado porém atualmente moro com um cônjuge            1
Morando junto mais nao no papel                            1
Morando junto com minha esposa a quase 11 anos             1
Convivência                                                1
X                                                          1
Tenho esposa mas não nO papel                              1
Não somos casados no cartório                              1
Name: count, dtype: int64

In [11]:
# Categorias válidas para dificuldade
DIFICULDADES_VALIDAS = {
    'financeiro / dinheiro',
    'falta de tempo',
    'falta de base escolar',
    'falta de oportunidade',
    'idade'
}

# Função de limpeza e normalização
def limpar_dificuldade_simples(valor):
    if pd.isna(valor):
        return None

    val = str(valor).strip().lower().strip("., ")

    if val in DIFICULDADES_VALIDAS:
        return val
    return None

In [12]:
df_leads_l34_forms['dificuldade_original'] = df_leads_l34_forms['dificuldade']
df_leads_l34_forms['dificuldade'] = df_leads_l34_forms['dificuldade_original'].apply(limpar_dificuldade_simples)

df_leads_l34_forms['dificuldade'].value_counts()

dificuldade
financeiro / dinheiro    2001
falta de tempo            855
falta de base escolar     666
idade                     358
falta de oportunidade      33
Name: count, dtype: int64

In [13]:
# Excluir colunas que terminam com "_original"
df_leads_l34_forms.drop(
    columns=[col for col in df_leads_l34_forms.columns if col.endswith('_original')],
    inplace=True
)

In [14]:
df_leads_l34_forms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4151 entries, 0 to 4150
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data                4151 non-null   object
 1   nome                4151 non-null   object
 2   email               4151 non-null   object
 3   whatsapp            4151 non-null   object
 4   estado              4151 non-null   object
 5   idade               4151 non-null   object
 6   escolaridade        4066 non-null   object
 7   renda               4151 non-null   object
 8   estado_civil        4151 non-null   object
 9   filhos              4151 non-null   object
 10  escolheu_profissao  4151 non-null   object
 11  dificuldade         3913 non-null   object
dtypes: object(12)
memory usage: 389.3+ KB

In [15]:
df_leads_l34_forms = df_leads_l34_forms.drop(columns=['nome'])

In [16]:
features = ["renda", "escolaridade", "idade", "estado_civil", "filhos", 'escolaridade', 'escolheu_profissao', 'dificuldade']

for col in features:
    if col in df_leads_l34_forms.columns:
        df_leads_l34_forms[col] = df_leads_l34_forms[col].astype(str).str.strip().str.lower()

In [17]:
colunas_excluir = ["data", "email", "whatsapp", "nome"]

for coluna in df_leads_l34_forms.columns:
    if coluna not in colunas_excluir:
        print(f"\nColuna: {coluna}")
        print(df_leads_l34_forms[coluna].value_counts(dropna=False))

Coluna: estado
estado
SP                            2449
MG                             345
PR                             206
BA                             192
SC                             190
RS                             161
RJ                             125
PE                             118
MA                              64
CE                              62
GO                              60
AL                              57
DF                              39
PA                              13
ES                              11
RN                               8
Florianópolis                    4
AM                               3
Piaui                            3
Río grande do Sul                2
Piauí                            2
TO                               2
AC                               2
Ce                               1
Mogi Guaçu                       1
Ipubi                            1
Ria grande do sul                1
Rondonia                         1
Picos -Pi                        1
Aracaju/se.                      1
Laranjeiras do sul               1
Vitória de Santo Antão           1
Uruguaiana                       1
Blumenau                         1
Caixa dosur                      1
RO                               1
São Raimundo nonato Piauí        1
M.T.                             1
Cuiabá-MT                        1
Ro grande do sul                 1
Góias                            1
MT                               1
Ipiau BH                         1
Conde                            1
Ipu-ce                           1
Vila Rica MT                     1
Avaré                            1
Río grande do sul                1
Piauí                            1
PB                               1
Jaraguá do sul                   1
Concórdia                        1
Gandu                            1
CE                               1
Góiase                           1
Rio grande                       1
Name: count, dtype: int64

Coluna: idade
idade
36 - 45 anos        1630
26 - 35 anos        1161
46 - 55 anos         978
até 25 anos          312
acima de 56 anos      70
Name: count, dtype: int64

Coluna: escolaridade
escolaridade
médio completo            2731
superior completo          566
fundamental completo       522
superior incompleto        127
none                        85
médio incompleto            42
técnico                     39
fundamental incompleto      39
Name: count, dtype: int64

Coluna: renda
renda
de 1.000 a 3.000    2173
de 3.000 a 5.000     880
até 1.000            498
desempregado         410
acima de 5.000       190
Name: count, dtype: int64

Coluna: estado_civil
estado_civil
solteiro(a)                                             1551
casado(a)                                               1516
união estável                                            538
divorciado(a) ou separado(a)                             499
viúvo(a)                                                  21
amasiado                                                   4
junto                                                      2
casado                                                     1
tenho uma companheira                                      1
morro jinto                                                1
casado mas nada no papel a mais de 10 anos                 1
ajuntado                                                   1
união estável ,,viuva                                      1
divorced                                                   1
convivo com parceira                                       1
moro com minha esposa e 2 filhos                           1
amaciado                                                   1
divorciado(a)                                              1
divorciado oficialmente,  porem convvo a 18 juntos.i       1
se conhecendo                                              1
divorciado porém atualmente moro com um cônjuge            1
morando junto mais nao no papel                            1
morando junto com minha esposa a quase 11 anos             1
convivência                                                1
x                                                          1
tenho esposa mas não no papel                              1
não somos casados no cartório                              1
Name: count, dtype: int64

Coluna: filhos
filhos
sim    3183
não     968
Name: count, dtype: int64

Coluna: escolheu_profissao
escolheu_profissao
sonho de criança                                                                                                                                                                                                                                                                                    1546
gosta da profissão                                                                                                                                                                                                                                                                                  1339
estabilidade de emprego                                                                                                                                                                                                                                                                              664
prestígio da carreira                                                                                                                                                                                                                                                                                375
segurança                                                                                                                                                                                                                                                                                            161
                                                                                                                                                                                                                                                                                                    ...
satisfação profissional                                                                                                                                                                                                                                                                                1
meu pai era pm militar aí depôs. que ele faliceu eu mim apaixonei pela carreira militar. como era o meu pai tbm só tem eu dos filhos dele que tem vontade de seguir a mesma carreira que o meu pai era policial. eu sou vigilânte mais eu quero mais eu quero. ser policial igual a meu pai era.       1
estabilidade e amor a profissão                                                                                                                                                                                                                                                                        1
nasci para ser policial                                                                                                                                                                                                                                                                                1
ter uma estabilidade de vida                                                                                                                                                                                                                                                                           1
Name: count, Length: 71, dtype: int64

Coluna: dificuldade
dificuldade
financeiro / dinheiro    2001
falta de tempo            855
falta de base escolar     666
idade                     358
none                      238
falta de oportunidade      33
Name: count, dtype: int64

# Leads Novos

In [18]:
parquet_leads_antigos = Path.cwd().parent / "dados" / "leads_antigos.parquet"
parquet_alunos_antigos = Path.cwd().parent / "dados" / "alunos_antigos.parquet"
parquet_leads_l34 = Path.cwd().parent / "dados" / "leads_l34.parquet"

df_leads = pd.read_parquet(parquet_leads_antigos)
df_alunos = pd.read_parquet(parquet_alunos_antigos)
df_leads_l34 = pd.read_parquet(parquet_leads_l34)

In [19]:
df_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10863 entries, 0 to 10862
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data                10863 non-null  datetime64[ns]
 1   lancamentos         10863 non-null  object
 2   email               10863 non-null  object
 3   whatsapp            10863 non-null  object
 4   estado              10863 non-null  object
 5   idade               10863 non-null  object
 6   escolaridade        10863 non-null  object
 7   renda               10863 non-null  object
 8   estado_civil        10863 non-null  object
 9   filhos              10863 non-null  object
 10  escolheu_profissao  10863 non-null  object
 11  dificuldade         10863 non-null  object
 12  comprou             10863 non-null  int32
 13  utm_source          10817 non-null  object
 14  utm_medium          10690 non-null  object
 15  utm_campaign        10840 non-null  object
 16  utm_content         10092 non-null  object
 17  utm_term            6529 non-null   object
dtypes: datetime64[ns](1), int32(1), object(16)
memory usage: 1.5+ MB

In [20]:
df_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data                260 non-null    datetime64[ns]
 1   lancamentos         260 non-null    object
 2   email               260 non-null    object
 3   whatsapp            260 non-null    object
 4   estado              260 non-null    object
 5   idade               260 non-null    object
 6   escolaridade        260 non-null    object
 7   renda               260 non-null    object
 8   estado_civil        260 non-null    object
 9   filhos              260 non-null    object
 10  escolheu_profissao  260 non-null    object
 11  dificuldade         260 non-null    object
 12  comprou             260 non-null    int32
 13  utm_source          259 non-null    object
 14  utm_medium          243 non-null    object
 15  utm_campaign        258 non-null    object
 16  utm_content         196 non-null    object
 17  utm_term            82 non-null     object
dtypes: datetime64[ns](1), int32(1), object(16)
memory usage: 35.7+ KB

In [21]:
df_leads_l34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36429 entries, 0 to 36428
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         36429 non-null  object
 1   nome                       36429 non-null  object
 2   email                      36429 non-null  object
 3   telefone                   36429 non-null  object
 4   data inscrição lançamento  36429 non-null  object
 5   estado                     29524 non-null  object
 6   idade                      29018 non-null  object
 7   escolaridade               29040 non-null  object
 8   renda                      29251 non-null  object
 9   estado civil               29155 non-null  object
 10  filhos                     29326 non-null  object
 11  escolheu profissão         29408 non-null  object
 12  dificuldade                27580 non-null  object
 13  email captação             29524 non-null  object
 14  telefone captação          29522 non-null  object
 15  utm_source                 36360 non-null  object
 16  utm_campaign               35875 non-null  object
 17  utm_medium                 33730 non-null  object
 18  utm_content                32786 non-null  object
 19  utm_term                   29170 non-null  object
dtypes: object(20)
memory usage: 5.6+ MB

In [22]:
taxa_resposta_por_canal = (
    df_leads_l34
    .groupby('utm_source')['email captação']
    .apply(lambda x: x.notna().mean())
    .to_dict()
)

In [23]:
display(taxa_resposta_por_canal)

{'EMAILMKT': 0.8666666666666667,
 'FACEBOOK': 1.0,
 'Facebook-Ads': 0.8149027052681538,
 'INSTAGRAM': 0.9250645994832042,
 'TIKTOK': 0.8171806167400881,
 'WHATSAPP': 0.8909090909090909,
 'YOUTUBE': 0.837037037037037,
 'fb': 0.7272727272727273,
 'google': 0.8571428571428571,
 'google-ads': 0.7789092164307905,
 'search': 1.0,
 'teste': 0.0}

In [24]:
df_leads_l34 = df_leads_l34[df_leads_l34['email captação'].notna()].reset_index(drop=True)

In [25]:
df_leads_l34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29524 entries, 0 to 29523
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         29524 non-null  object
 1   nome                       29524 non-null  object
 2   email                      29524 non-null  object
 3   telefone                   29524 non-null  object
 4   data inscrição lançamento  29524 non-null  object
 5   estado                     29524 non-null  object
 6   idade                      29018 non-null  object
 7   escolaridade               29040 non-null  object
 8   renda                      29251 non-null  object
 9   estado civil               29155 non-null  object
 10  filhos                     29326 non-null  object
 11  escolheu profissão         29408 non-null  object
 12  dificuldade                27580 non-null  object
 13  email captação             29524 non-null  object
 14  telefone captação          29522 non-null  object
 15  utm_source                 29472 non-null  object
 16  utm_campaign               29066 non-null  object
 17  utm_medium                 27494 non-null  object
 18  utm_content                26676 non-null  object
 19  utm_term                   23775 non-null  object
dtypes: object(20)
memory usage: 4.5+ MB

In [26]:
df_leads_l34.isnull().sum()

id                              0
nome                            0
email                           0
telefone                        0
data inscrição lançamento       0
estado                          0
idade                         506
escolaridade                  484
renda                         273
estado civil                  369
filhos                        198
escolheu profissão            116
dificuldade                  1944
email captação                  0
telefone captação               2
utm_source                     52
utm_campaign                  458
utm_medium                   2030
utm_content                  2848
utm_term                     5749
dtype: int64

In [27]:
df_leads_l34 = df_leads_l34.drop(columns=['id', 'email', 'telefone', 'nome'])

colunas_renomeadas = {
    'data inscrição lançamento': 'data',
    'email captação': 'email',
    'telefone captação': 'whatsapp',
    'Qual estado você reside?': 'estado',
    'Qual sua faixa de idade?': 'idade',
    'Qual seu nível de escolaridade?': 'escolaridade',
    'Qual sua faixa salarial atualmente?': 'renda',
    'estado civil': 'estado_civil',
    'Você tem filhos?': 'filhos',
    'escolheu profissão': 'escolheu_profissao'
}

df_leads_l34.rename(columns=colunas_renomeadas, inplace=True)

df_leads_l34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29524 entries, 0 to 29523
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   data                29524 non-null  object
 1   estado              29524 non-null  object
 2   idade               29018 non-null  object
 3   escolaridade        29040 non-null  object
 4   renda               29251 non-null  object
 5   estado_civil        29155 non-null  object
 6   filhos              29326 non-null  object
 7   escolheu_profissao  29408 non-null  object
 8   dificuldade         27580 non-null  object
 9   email               29524 non-null  object
 10  whatsapp            29522 non-null  object
 11  utm_source          29472 non-null  object
 12  utm_campaign        29066 non-null  object
 13  utm_medium          27494 non-null  object
 14  utm_content         26676 non-null  object
 15  utm_term            23775 non-null  object
dtypes: object(16)
memory usage: 3.6+ MB

In [28]:
df_leads_l34["renda"] = (
    df_leads_l34["renda"]
    .replace({
        "De R$ 1.000,00 a R$ 3.000,00": "De 1.000 a 3.000",
        "De R$ 3.000,00 a R$ 5.000,00": "De 3.000 a 5.000",
        "Até R$ 1.000,00": "Até 1.000",
        "Não estou trabalhando no momento": "Desempregado",
        "Acima de R$ 5.000,00": "Acima de 5.000"
    })
)

In [29]:
# Aplicar a função
df_leads_l34['estado'] = df_leads_l34['estado'].apply(normalizar_estado)

# Verificar resultado final
print(df_leads_l34['estado'].value_counts(dropna=False))

estado
SP       14693
Outro     8787
MG        3196
PR        1800
RJ         858
MA         190
Name: count, dtype: int64

In [30]:
df_leads_l34['escolaridade_original'] = df_leads_l34['escolaridade']
df_leads_l34['escolaridade'] = df_leads_l34['escolaridade_original'].apply(normalizar_escolaridade)

df_leads_l34['escolaridade'].value_counts()

escolaridade
médio completo          19582
fundamental completo     3691
superior completo        3680
Name: count, dtype: int64

In [31]:
for col in features:
    if col in df_leads_l34.columns:
        df_leads_l34[col] = df_leads_l34[col].astype(str).str.strip().str.lower()

In [32]:
colunas_excluir = ["data", "email", "whatsapp"]

for coluna in df_leads_l34.columns:
    if coluna not in colunas_excluir:
        print(f"\nColuna: {coluna}")
        print(df_leads_l34[coluna].value_counts(dropna=False))

Coluna: estado
estado
SP       14693
Outro     8787
MG        3196
PR        1800
RJ         858
MA         190
Name: count, dtype: int64

Coluna: idade
idade
36 - 45 anos        11592
26 - 35 anos         9162
46 - 55 anos         5453
até 25 anos          2447
none                  506
acima de 56 anos      364
Name: count, dtype: int64

Coluna: escolaridade
escolaridade
médio completo          19582
fundamental completo     3691
superior completo        3680
none                     2571
Name: count, dtype: int64

Coluna: renda
renda
de 1.000 a 3.000    14760
de 3.000 a 5.000     7430
até 1.000            2873
acima de 5.000       2120
desempregado         2068
none                  273
Name: count, dtype: int64

Coluna: estado_civil
estado_civil
solteiro(a)                     11754
casado(a)                       10266
união estável                    3395
divorciado(a) ou separado(a)     3046
outros                            694
none                              369
Name: count, dtype: int64

Coluna: filhos
filhos
sim     22171
não      7155
none      198
Name: count, dtype: int64

Coluna: escolheu_profissao
escolheu_profissao
sonho de criança           9941
gosta da profissão         9069
estabilidade de emprego    4565
prestígio da carreira      2874
outros                     1540
segurança                  1419
none                        116
Name: count, dtype: int64

Coluna: dificuldade
dificuldade
falta de oportunidades na vida    11759
financeiro / dinheiro              9093
falta de tempo                     4533
idade                              2195
none                               1944
Name: count, dtype: int64

Coluna: utm_source
utm_source
Facebook-Ads    24038
google-ads       4513
TIKTOK            371
INSTAGRAM         358
YOUTUBE           113
None               52
WHATSAPP           49
EMAILMKT           13
fb                  8
google              6
search              2
FACEBOOK            1
Name: count, dtype: int64

Coluna: utm_campaign
utm_campaign
OPC-L34 | CAPTACAO | CBO | QUENTE | BR | 16-05-2025                                        7500
OPC-L34 | CAPTACAO | CBO | MORNO/QUENTE | BR | 16-05-2025                                  6355
OPC-L34 | CAPTACAO | ABO | FRIO LAL10% LISTA ALUNO | BR | 16-05-2025 | Teste Criativo      3250
OPC-L34 | CAPTACAO | CBO | FRIO | BR | 16-05-2025                                          3229
tvfa                                                                                       2521
pmax                                                                                       1583
OPC-L34 | CAPTACAO | ABO | FRIO ABERTO | BR | 16-05-2025                                   1459
L34                                                                                        1037
OPC-L34 | CAPTACAO | ABO | FRIO LAL10% LISTA ALUNO | BR | 20-05-2025 | Teste Página         747
OPC-L34 | CAPTACAO | CBO | LISTA LEADS ULTIMOS LANÇAMENTOS | PAGINA 2 | BR | 29-05-2025     510
OPC-L34 | CAPTACAO | CBO | MIX PUBLICOS QUENTES | PAGINA2 | BR | 29-05-2025                 494
None                                                                                        458
search                                                                                      177
{{campaign.name}}                                                                           160
OPC-L34 | CAPTACAO | CBO | MORNO\/QUENTE | BR | 16-05-2025                                   30
opc-l34-teste                                                                                 6
120224773634130124                                                                            4
120224774384420124                                                                            2
120224774168030124                                                                            1
120224772382650124                                                                            1
Name: count, dtype: int64

Coluna: utm_medium
utm_medium
00 | ENVOLVIMENTO 60D                4836
00 | PAGINA DE CAPTURA 180D          3213
00 | ENVOLVIMENTO E PAGEVIEW 180D    3081
00 | SEGUIDORES                      2647
00 | LAL 1% LEADS QUALIFICADOS       2443
                                     ...
04_keyword_i                            2
04_mercado_concurso                     1
01_medio                                1
04_keywords_g                           1
GERAL                                   1
Name: count, Length: 83, dtype: int64

Coluna: utm_content
utm_content
ads_009_captacao_video_stories_p2_ADS05-CAP-1080x1920-L34-OPC3.0    6164
ads_001_captacao_video_stories_p1_imagem_sobral_1                   4336
ads_012_captacao_video_stories_p4_ADS08-CAP-1080x1920-L34-OPC3.0    4253
ads_005_captacao_video_stories_p1_video_vemai_v1                    3843
None                                                                2848
                                                                    ...
120224774384440124                                                     1
video_metodologia                                                      1
120225166666040124                                                     1
video_distintivo_e_algema                                              1
Video_vantagens_da_PCSP                                                1
Name: count, Length: 67, dtype: int64

Coluna: utm_term
utm_term
Facebook_Mobile_Reels      6178
None                       5749
Instagram_Reels            5579
Instagram_Stories          4702
Instagram_Feed             3964
Facebook_Mobile_Feed       2637
Facebook_Stories            387
{{placement}}               161
Instagram_Explore            80
Others                       46
Facebook_Profile_Feed        11
Facebook_Desktop_Feed         7
investigador                  6
Facebook_Marketplace          4
an                            4
120224773634150124            2
120224773634120124            2
120224774168050124            1
120225166666050124            1
120224774384400124            1
120224774384490124            1
Facebook_Instream_Video       1
Name: count, dtype: int64

Coluna: escolaridade_original
escolaridade_original
Ensino Médio Completo          19582
Ensino Fundamental Completo     3691
Ensino Superior Completo        3680
Outro                           2087
None                             484
Name: count, dtype: int64

# Concat Leads e Resposta Forms

In [33]:
df_leads_l34 = df_leads_l34.copy()
df_leads_l34_forms = df_leads_l34_forms.copy()

# Junte corretamente
df_leads_l34 = pd.concat([df_leads_l34, df_leads_l34_forms], ignore_index=True)
df_leads_l34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33675 entries, 0 to 33674
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data                   33675 non-null  object
 1   estado                 33675 non-null  object
 2   idade                  33675 non-null  object
 3   escolaridade           33675 non-null  object
 4   renda                  33675 non-null  object
 5   estado_civil           33675 non-null  object
 6   filhos                 33675 non-null  object
 7   escolheu_profissao     33675 non-null  object
 8   dificuldade            33675 non-null  object
 9   email                  33675 non-null  object
 10  whatsapp               33673 non-null  object
 11  utm_source             29472 non-null  object
 12  utm_campaign           29066 non-null  object
 13  utm_medium             27494 non-null  object
 14  utm_content            26676 non-null  object
 15  utm_term               23775 non-null  object
 16  escolaridade_original  29040 non-null  object
dtypes: object(17)
memory usage: 4.4+ MB

In [34]:
# Conta quantos e-mails aparecem mais de uma vez
duplicados = df_leads_l34['email'].duplicated(keep=False)

# Exibe o total de duplicados (incluindo todas as ocorrências)
total_duplicados = duplicados.sum()
print(f"Total de e-mails duplicados (todas ocorrências): {total_duplicados}")

Total de e-mails duplicados (todas ocorrências): 6542

In [35]:
emails_duplicados_unicos = df_leads_l34['email'][duplicados].nunique()
print(f"Total de e-mails diferentes que estão duplicados: {emails_duplicados_unicos}")

Total de e-mails diferentes que estão duplicados: 3209

In [36]:
# Normalizar e deduplicar e-mails
if 'email' in df_leads_l34.columns:
    df_leads_l34['email'] = df_leads_l34['email'].astype(str).str.lower().str.strip()

df_leads_l34 = df_leads_l34.drop_duplicates(subset='email', keep='first')

df_leads_l34["lancamentos"] = "L34"

df_leads_l34['data'] = pd.to_datetime(df_leads_l34['data'], errors='coerce')

df_leads_l34["comprou"] = df_leads_l34["email"].isin(df_alunos["email"]).astype(int)

df_leads_l34.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30265 entries, 0 to 33667
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data                   30265 non-null  datetime64[ns]
 1   estado                 30265 non-null  object
 2   idade                  30265 non-null  object
 3   escolaridade           30265 non-null  object
 4   renda                  30265 non-null  object
 5   estado_civil           30265 non-null  object
 6   filhos                 30265 non-null  object
 7   escolheu_profissao     30265 non-null  object
 8   dificuldade            30265 non-null  object
 9   email                  30265 non-null  object
 10  whatsapp               30263 non-null  object
 11  utm_source             29472 non-null  object
 12  utm_campaign           29066 non-null  object
 13  utm_medium             27494 non-null  object
 14  utm_content            26676 non-null  object
 15  utm_term               23775 non-null  object
 16  escolaridade_original  29040 non-null  object
 17  lancamentos            30265 non-null  object
 18  comprou                30265 non-null  int32
dtypes: datetime64[ns](1), int32(1), object(17)
memory usage: 4.5+ MB

In [37]:
colunas_excluir = ["data", "email", "whatsapp"]

for coluna in df_leads_l34.columns:
    if coluna not in colunas_excluir:
        print(f"\nColuna: {coluna}")
        print(df_leads_l34[coluna].value_counts(dropna=False))

Coluna: estado
estado
SP                            15114
Outro                          8787
MG                             3259
PR                             1835
RJ                              881
MA                              202
SC                               37
RS                               32
BA                               30
PE                               26
CE                               16
GO                               14
AL                                9
DF                                4
ES                                3
PA                                2
RN                                1
PB                                1
CE                                1
AM                                1
Conde                             1
Ro grande do sul                  1
Cuiabá-MT                         1
Florianópolis                     1
Piauí                             1
Vitória de Santo Antão            1
Caixa dosur                       1
RO                                1
São Raimundo nonato Piauí         1
Piaui                             1
Name: count, dtype: int64

Coluna: idade
idade
36 - 45 anos        11891
26 - 35 anos         9332
46 - 55 anos         5661
até 25 anos          2488
none                  506
acima de 56 anos      387
Name: count, dtype: int64

Coluna: escolaridade
escolaridade
médio completo            20065
fundamental completo       3787
superior completo          3779
none                       2588
superior incompleto          27
fundamental incompleto        9
técnico                       6
médio incompleto              4
Name: count, dtype: int64

Coluna: renda
renda
de 1.000 a 3.000    15133
de 3.000 a 5.000     7587
até 1.000            2974
acima de 5.000       2154
desempregado         2144
none                  273
Name: count, dtype: int64

Coluna: estado_civil
estado_civil
solteiro(a)                                   11997
casado(a)                                     10559
união estável                                  3499
divorciado(a) ou separado(a)                   3138
outros                                          694
none                                            369
viúvo(a)                                          2
morando junto mais nao no papel                   1
casado                                            1
amasiado                                          1
casado mas nada no papel a mais de 10 anos        1
morro jinto                                       1
tenho uma companheira                             1
não somos casados no cartório                     1
Name: count, dtype: int64

Coluna: filhos
filhos
sim     22757
não      7310
none      198
Name: count, dtype: int64

Coluna: escolheu_profissao
escolheu_profissao
sonho de criança                                                                                                                                                                                                 10193
gosta da profissão                                                                                                                                                                                                9320
estabilidade de emprego                                                                                                                                                                                           4687
prestígio da carreira                                                                                                                                                                                             2931
outros                                                                                                                                                                                                            1540
segurança                                                                                                                                                                                                         1457
none                                                                                                                                                                                                               116
gosto da profissão                                                                                                                                                                                                   1
todos os ponto acima.                                                                                                                                                                                                1
inspiração meu pai                                                                                                                                                                                                   1
já trabalhei como escrivão ad hoc                                                                                                                                                                                    1
sempre trabalhando na área de segurança sou bombeiro                                                                                                                                                                 1
vou fazer. o curso de técnico em necropsia                                                                                                                                                                           1
já trabalho na área de segurança                                                                                                                                                                                     1
estabilidade e amor a profissão                                                                                                                                                                                      1
estudo criminologia e quero atuar na áreas                                                                                                                                                                           1
todas as opções anteriores                                                                                                                                                                                           1
reformado na pmmg                                                                                                                                                                                                    1
trocar de instituição                                                                                                                                                                                                1
sempre gostei da profissão,e pela também pela estabilidade de emprego                                                                                                                                                1
quando novo perdi a minha única oportunidade de servir o batalhão caveira no exército brasileiro de itu,por conta de uma paixão de adolescente, me arrependo até os dias de hj minha farda jogada aos porcos.        1
detetive                                                                                                                                                                                                             1
todo mundo que me conhece fala que eu tenho cara de polícia, e como eu já gosto da profissão resolvi arriscar.                                                                                                       1
pra mim é uma honra ter esse mérito! e amo fazer o trabalho do bem!                                                                                                                                                  1
quero novo conhecimento                                                                                                                                                                                              1
a lei foi instruída pelo profeta moisés pelo criador jeová                                                                                                                                                           1
ganhar um bom dinheiro                                                                                                                                                                                               1
bom emprego, salário, estabilidade,  número de vagas previsto                                                                                                                                                        1
Name: count, dtype: int64

Coluna: dificuldade
dificuldade
falta de oportunidades na vida    11759
financeiro / dinheiro              9450
falta de tempo                     4669
idade                              2275
none                               1989
falta de base escolar               120
falta de oportunidade                 3
Name: count, dtype: int64

Coluna: utm_source
utm_source
Facebook-Ads    24038
google-ads       4513
NaN               741
TIKTOK            371
INSTAGRAM         358
YOUTUBE           113
None               52
WHATSAPP           49
EMAILMKT           13
fb                  8
google              6
search              2
FACEBOOK            1
Name: count, dtype: int64

Coluna: utm_campaign
utm_campaign
OPC-L34 | CAPTACAO | CBO | QUENTE | BR | 16-05-2025                                        7500
OPC-L34 | CAPTACAO | CBO | MORNO/QUENTE | BR | 16-05-2025                                  6355
OPC-L34 | CAPTACAO | ABO | FRIO LAL10% LISTA ALUNO | BR | 16-05-2025 | Teste Criativo      3250
OPC-L34 | CAPTACAO | CBO | FRIO | BR | 16-05-2025                                          3229
tvfa                                                                                       2521
pmax                                                                                       1583
OPC-L34 | CAPTACAO | ABO | FRIO ABERTO | BR | 16-05-2025                                   1459
L34                                                                                        1037
OPC-L34 | CAPTACAO | ABO | FRIO LAL10% LISTA ALUNO | BR | 20-05-2025 | Teste Página         747
NaN                                                                                         741
OPC-L34 | CAPTACAO | CBO | LISTA LEADS ULTIMOS LANÇAMENTOS | PAGINA 2 | BR | 29-05-2025     510
OPC-L34 | CAPTACAO | CBO | MIX PUBLICOS QUENTES | PAGINA2 | BR | 29-05-2025                 494
None                                                                                        458
search                                                                                      177
{{campaign.name}}                                                                           160
OPC-L34 | CAPTACAO | CBO | MORNO\/QUENTE | BR | 16-05-2025                                   30
opc-l34-teste                                                                                 6
120224773634130124                                                                            4
120224774384420124                                                                            2
120224774168030124                                                                            1
120224772382650124                                                                            1
Name: count, dtype: int64

Coluna: utm_medium
utm_medium
00 | ENVOLVIMENTO 60D                4836
00 | PAGINA DE CAPTURA 180D          3213
00 | ENVOLVIMENTO E PAGEVIEW 180D    3081
00 | SEGUIDORES                      2647
00 | LAL 1% LEADS QUALIFICADOS       2443
                                     ...
04_keyword_i                            2
01_medio                                1
04_mercado_concurso                     1
04_keywords_g                           1
GERAL                                   1
Name: count, Length: 84, dtype: int64

Coluna: utm_content
utm_content
ads_009_captacao_video_stories_p2_ADS05-CAP-1080x1920-L34-OPC3.0    6164
ads_001_captacao_video_stories_p1_imagem_sobral_1                   4336
ads_012_captacao_video_stories_p4_ADS08-CAP-1080x1920-L34-OPC3.0    4253
ads_005_captacao_video_stories_p1_video_vemai_v1                    3843
None                                                                2848
                                                                    ...
120225166666040124                                                     1
120224774168180124                                                     1
video_distintivo_e_algema                                              1
ads_025_captacao_video_stories_p3_05 - TÉCNOLOGO                       1
Video_vantagens_da_PCSP                                                1
Name: count, Length: 68, dtype: int64

Coluna: utm_term
utm_term
Facebook_Mobile_Reels      6178
None                       5749
Instagram_Reels            5579
Instagram_Stories          4702
Instagram_Feed             3964
Facebook_Mobile_Feed       2637
NaN                         741
Facebook_Stories            387
{{placement}}               161
Instagram_Explore            80
Others                       46
Facebook_Profile_Feed        11
Facebook_Desktop_Feed         7
investigador                  6
an                            4
Facebook_Marketplace          4
120224773634150124            2
120224773634120124            2
120224774168050124            1
120225166666050124            1
120224774384400124            1
120224774384490124            1
Facebook_Instream_Video       1
Name: count, dtype: int64

Coluna: escolaridade_original
escolaridade_original
Ensino Médio Completo          19582
Ensino Fundamental Completo     3691
Ensino Superior Completo        3680
Outro                           2087
NaN                              741
None                             484
Name: count, dtype: int64

Coluna: lancamentos
lancamentos
L34    30265
Name: count, dtype: int64

Coluna: comprou
comprou
0    30258
1        7
Name: count, dtype: int64

# Adicionar Valores de Investimento de Trafégo

In [38]:
df_dados_invest_face.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1434 entries, 0 to 1433
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       1434 non-null   object
 1   campaign                   1434 non-null   object
 2   adset_name                 1434 non-null   object
 3   ad_name                    1434 non-null   object
 4   spend                      1434 non-null   float64
 5   impressions                1434 non-null   int64
 6   actions_link_click         1434 non-null   int64
 7   actions_landing_page_view  1434 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 89.8+ KB

In [39]:
df_dados_invest_face["spend"].sum()

50186.56

In [40]:
df_dados_invest_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         87 non-null     object
 1   campaign     87 non-null     object
 2   clicks       87 non-null     int64
 3   spend        87 non-null     float64
 4   impressions  87 non-null     int64
 5   conversions  87 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.2+ KB

In [41]:
df_dados_invest_google["spend"].sum()

29193.974

In [42]:
# Normalizar colunas
df_dados_invest_face['ad_name'] = df_dados_invest_face['ad_name'].str.strip().str.lower()
df_leads_l34['utm_content'] = df_leads_l34['utm_content'].str.strip().str.lower()

# Agrupar leads por utm_content e puxar o valor mais comum de lancamentos
leads_por_anuncio = (
    df_leads_l34.groupby('utm_content')
    .agg(num_leads=('utm_content', 'count'),
         lancamentos=('lancamentos', lambda x: x.mode().iloc[0] if not x.mode().empty else None))
    .reset_index()
)
leads_por_anuncio.rename(columns={'utm_content': 'ad_name'}, inplace=True)

# Agrupar investimento
investimento_por_anuncio = df_dados_invest_face.groupby('ad_name')['spend'].sum().reset_index()

# Merge leads + investimento
df_cpl_face = pd.merge(investimento_por_anuncio, leads_por_anuncio, on='ad_name', how='left')

# Pegar utm_source dominante por anúncio
utm_por_anuncio = (
    df_leads_l34
    .groupby('utm_content')['utm_source']
    .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
    .reset_index()
    .rename(columns={'utm_content': 'ad_name'})
)

# Merge com df_cpl_face
df_cpl_face = pd.merge(df_cpl_face, utm_por_anuncio, on='ad_name', how='left')

# Agora sim!
df_cpl_face['spend'] = (df_cpl_face['spend']) * df_cpl_face['utm_source'].map(taxa_resposta_por_canal)

# Preencher NaNs
df_cpl_face['num_leads'] = df_cpl_face['num_leads'].fillna(0)

# Calcular CPL
df_cpl_face['cpl'] = df_cpl_face.apply(
    lambda row: row['spend'] / row['num_leads'] if row['num_leads'] > 0 else None,
    axis=1
)

# Total row
total_row = pd.DataFrame([{
    'ad_name': 'TOTAL',
    'spend': float(df_cpl_face['spend'].sum()),
    'num_leads': float(df_cpl_face['num_leads'].sum()),
    'cpl': float(df_cpl_face['spend'].sum()) / float(df_cpl_face['num_leads'].sum())
        if df_cpl_face['num_leads'].sum() > 0 else None,
    'lancamentos': None
}])

# Concatenar
df_cpl_face = pd.concat([df_cpl_face, total_row], ignore_index=True)

In [43]:
# Reordenar colunas colocando 'lancamentos' primeiro
cols = ['lancamentos'] + [col for col in df_cpl_face.columns if col != 'lancamentos']
df_cpl_face = df_cpl_face[cols]

# Renomear colunas
df_cpl_face.rename(columns={
    'ad_name': 'criativo',
    'spend': 'investimento',
    'num_leads': 'leads'
}, inplace=True)

# Ajustar formatos
df_cpl_face['leads'] = df_cpl_face['leads'].astype(int)
df_cpl_face['cpl'] = df_cpl_face['cpl'].round(2)
df_cpl_face['investimento'] = df_cpl_face['investimento'].round(2)  # opcional

pd.set_option('display.max_rows', 100)  # ou mais, se quiser
display(df_cpl_face)

,lancamentos,criativo,investimento,leads,utm_source,cpl
0,NaN,ads 14 - calendário v2 - vertical,NaN,0,NaN,NaN
1,NaN,ads 16 - carteira v2 - vertical,NaN,0,NaN,NaN
2,NaN,ads 18 - quanto pesa um distintivo v2 - vertical,NaN,0,NaN,NaN
3,NaN,ads13-cap-1080x1920-l34-opc3.0,NaN,0,NaN,NaN
4,NaN,ads15-cap-1080x1920-l34-opc3.0,NaN,0,NaN,NaN
5,L34,ads_001_captacao_video_stories_p1_imagem_sobral_1,8346.89,4336,Facebook-Ads,1.93
6,L34,ads_002_captacao_video_stories_p1_imagem_raiz_1,734.17,268,Facebook-Ads,2.74
7,L34,ads_003_captacao_video_stories_p1_video_mais_u...,1382.60,462,Facebook-Ads,2.99
8,L34,ads_004_captacao_video_stories_p1_video_4motiv...,1193.31,559,Facebook-Ads,2.13
9,L34,ads_005_captacao_video_stories_p1_video_vemai_v1,7071.54,3843,Facebook-Ads,1.84
10,L34,ads_006_captacao_video_stories_p2_ads 01 - fas...,123.73,51,Facebook-Ads,2.43
11,L34,ads_007_captacao_video_stories_p2_ads02-cap-10...,281.79,136,Facebook-Ads,2.07
12,L34,ads_008_captacao_video_stories_p2_ads04-cap-10...,2404.33,1870,Facebook-Ads,1.29
13,L34,ads_009-ads_008-ads_012,1172.63,494,Facebook-Ads,2.37
14,L34,ads_009_captacao_video_stories_p2_ads05-cap-10...,8500.71,6164,Facebook-Ads,1.38
15,L34,ads_010_captacao_video_stories_p2_ads06-cap-10...,341.59,193,Facebook-Ads,1.77
16,L34,ads_011_captacao_video_stories_p3_ads07-cap-10...,1446.44,651,Facebook-Ads,2.22
17,L34,ads_012_captacao_video_stories_p4_ads08-cap-10...,6083.32,4253,Facebook-Ads,1.43
18,L34,ads_013_captacao_video_stories_p5_ads 09 - req...,349.73,183,Facebook-Ads,1.91
19,L34,ads_014_captacao_estatico_stories_p2_l34-estát...,41.06,6,Facebook-Ads,6.84
20,L34,ads_015_captacao_estatico_stories_p2_l34-estát...,97.54,33,Facebook-Ads,2.96
21,L34,ads_016_captacao_estatico_stories_p2_l34-estát...,38.50,3,Facebook-Ads,12.83
22,L34,ads_017_captacao_estatico_stories_p2_l34-estát...,31.42,4,Facebook-Ads,7.86
23,L34,ads_018_captacao_estatico_stories_p2_l34-nâo_p...,21.49,6,Facebook-Ads,3.58
24,L34,ads_019_captacao_estatico_stories_p2_l34-caixi...,39.04,7,Facebook-Ads,5.58
25,L34,ads_020_captacao_estatico_stories_p2_l34-estát...,38.78,4,Facebook-Ads,9.70
26,NaN,ads_021_captacao_video_stories_p3_01 - só ten...,NaN,0,NaN,NaN
27,L34,ads_022_captacao_video_stories_p3_02 - matemática,53.03,23,Facebook-Ads,2.31
28,L34,ads_023_captacao_video_stories_p3_03 - precisa...,125.59,26,Facebook-Ads,4.83
29,L34,ads_024_captacao_video_stories_p3_04 - previsã...,8.87,2,Facebook-Ads,4.44
30,L34,ads_025_captacao_video_stories_p3_05 - técnologo,8.55,1,Facebook-Ads,8.55
31,NaN,countdown-faltam-2-dias-l34,NaN,0,NaN,NaN
32,NaN,countdown-faltam-3-dias-l34---fb,NaN,0,NaN,NaN
33,NaN,countdown-é-amanhã-l34,NaN,0,NaN,NaN
34,NaN,vid_1_v5_manifestoqg_16x9_05.25 - instagram-1-1,NaN,0,NaN,NaN
35,None,TOTAL,39936.66,23578,NaN,1.69

In [44]:
df_cpl_face.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lancamentos   25 non-null     object
 1   criativo      36 non-null     object
 2   investimento  26 non-null     float64
 3   leads         36 non-null     int32
 4   utm_source    25 non-null     object
 5   cpl           26 non-null     float64
dtypes: float64(2), int32(1), object(3)
memory usage: 1.7+ KB

In [45]:
# Limpar e normalizar campanhas do Google Ads
df_dados_invest_google['campaign'] = df_dados_invest_google['campaign'].str.strip().str.lower()

# ➕ Normalizar categorias específicas para facilitar o merge
df_dados_invest_google['campaign'] = (
    df_dados_invest_google['campaign']
    .replace({
        r'.*search.*': 'search',
        r'.*pmax.*': 'pmax',
        r'.*tva.*': 'tvfa'
    }, regex=True)
)

# Leads: apenas limpar, sem normalizar nomes
df_leads_l34['utm_campaign'] = df_leads_l34['utm_campaign'].str.strip().str.lower()

In [46]:
# Agrupar leads por utm_content e puxar o valor mais comum de lancamentos
leads_por_anuncio = (
    df_leads_l34.groupby('utm_campaign')
    .agg(num_leads=('utm_campaign', 'count'),
         lancamentos=('lancamentos', lambda x: x.mode().iloc[0] if not x.mode().empty else None))
    .reset_index()
)
leads_por_anuncio.rename(columns={'utm_campaign': 'campaign'}, inplace=True)

df_dados_invest_google['spend'] = df_dados_invest_google['spend'].astype(str)

# Corrigir valores numéricos de spend com vírgula como decimal e ponto como milhar
df_dados_invest_google['spend'] = (
    df_dados_invest_google['spend']
    .str.replace('.', '', regex=False)   # remove milhar
    .str.replace(',', '.', regex=False)  # troca decimal
    .astype(float)
)

# Agrupar investimento
investimento_por_anuncio = df_dados_invest_google.groupby('campaign')['spend'].sum().reset_index()

# Merge leads + investimento
df_cpl_google = pd.merge(investimento_por_anuncio, leads_por_anuncio, on='campaign', how='left')

# Pegar utm_source dominante por anúncio
utm_por_anuncio = (
    df_leads_l34
    .groupby('utm_campaign')['utm_source']
    .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
    .reset_index()
    .rename(columns={'utm_campaign': 'campaign'})
)

# Merge com df_cpl_face
df_cpl_google = pd.merge(df_cpl_google, utm_por_anuncio, on='campaign', how='left')

# Agora sim!
df_cpl_google['spend'] = (df_cpl_google['spend'] / 1000) * df_cpl_google['utm_source'].map(taxa_resposta_por_canal)

# Preencher NaNs
df_cpl_google['num_leads'] = df_cpl_google['num_leads'].fillna(0)

# Calcular CPL
df_cpl_google['cpl'] = df_cpl_google.apply(
    lambda row: row['spend'] / row['num_leads'] if row['num_leads'] > 0 else None,
    axis=1
)

# Total row
total_row = pd.DataFrame([{
    'campaign': 'TOTAL',
    'spend': float(df_cpl_google['spend'].sum()),
    'num_leads': float(df_cpl_google['num_leads'].sum()),
    'cpl': float(df_cpl_google['spend'].sum()) / float(df_cpl_google['num_leads'].sum())
        if df_cpl_google['num_leads'].sum() > 0 else None,
    'lancamentos': None
}])

# Concatenar
df_cpl_google = pd.concat([df_cpl_google, total_row], ignore_index=True)

In [47]:
# Reordenar colunas colocando 'lancamentos' primeiro
cols = ['lancamentos'] + [col for col in df_cpl_google.columns if col != 'lancamentos']
df_cpl_google = df_cpl_google[cols]

# Renomear colunas
df_cpl_google.rename(columns={
    'campaign': 'campanha',
    'spend': 'investimento',
    'num_leads': 'leads'
}, inplace=True)

# Ajustar formatos
df_cpl_google['leads'] = df_cpl_google['leads'].astype(int)
df_cpl_google['cpl'] = df_cpl_google['cpl'].round(2)
df_cpl_google['investimento'] = df_cpl_google['investimento'].round(2) 

pd.set_option('display.max_rows', 100)  # ou mais, se quiser
display(df_cpl_google)

  lancamentos campanha  investimento  leads  utm_source   cpl
0         L34     pmax       6381.00   1583  google-ads  4.03
1         L34   search       1347.29    177  google-ads  7.61
2         L34     tvfa      15011.16   2521  google-ads  5.95
3        None    TOTAL      22739.46   4281         NaN  5.31

# Concat `df_leads` com `df_lead_novo`

In [48]:
# Recarregue os dois DataFrames originais se possível (ou copie)
df_leads = df_leads.copy()
df_leads_l34 = df_leads_l34.copy()

# Junte corretamente
df_leads = pd.concat([df_leads, df_leads_l34], ignore_index=True)
print("Total:", len(df_leads))

Total: 41128

In [49]:
df_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41128 entries, 0 to 41127
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data                   41128 non-null  datetime64[ns]
 1   lancamentos            41128 non-null  object
 2   email                  41128 non-null  object
 3   whatsapp               41126 non-null  object
 4   estado                 41128 non-null  object
 5   idade                  41128 non-null  object
 6   escolaridade           41128 non-null  object
 7   renda                  41128 non-null  object
 8   estado_civil           41128 non-null  object
 9   filhos                 41128 non-null  object
 10  escolheu_profissao     41128 non-null  object
 11  dificuldade            41128 non-null  object
 12  comprou                41128 non-null  int32
 13  utm_source             40289 non-null  object
 14  utm_medium             38184 non-null  object
 15  utm_campaign           39906 non-null  object
 16  utm_content            36768 non-null  object
 17  utm_term               30304 non-null  object
 18  escolaridade_original  29040 non-null  object
dtypes: datetime64[ns](1), int32(1), object(17)
memory usage: 5.8+ MB

In [50]:
colunas_excluir = ["data", "email", "whatsapp"]

for coluna in df_leads.columns:
    if coluna not in colunas_excluir:
        print(f"\nColuna: {coluna}")
        print(df_leads[coluna].value_counts(dropna=False))

Coluna: lancamentos
lancamentos
L34    30265
L32     4875
L31     2657
L33     2461
L30      352
L28      275
L29      243
Name: count, dtype: int64

Coluna: estado
estado
SP                            23120
Outro                          9003
MG                             4294
RJ                             2374
PR                             1876
MA                              237
BA                               43
SC                               40
RS                               36
PE                               27
GO                               22
CE                               18
AL                               11
DF                                5
ES                                3
RN                                2
AM                                2
PA                                2
Piauí                             1
São Raimundo nonato Piauí         1
RO                                1
Caixa dosur                       1
Vitória de Santo Antão            1
RR                                1
Florianópolis                     1
Cuiabá-MT                         1
Ro grande do sul                  1
Conde                             1
CE                                1
PB                                1
Piaui                             1
Name: count, dtype: int64

Coluna: idade
idade
36 - 45 anos        16075
26 - 35 anos        12702
46 - 55 anos         8009
até 25 anos          3266
acima de 56 anos      570
none                  506
Name: count, dtype: int64

Coluna: escolaridade
escolaridade
médio completo            28028
superior completo          5629
fundamental completo       4708
none                       2588
superior incompleto         107
técnico                      31
fundamental incompleto       20
médio incompleto             17
Name: count, dtype: int64

Coluna: renda
renda
de 1.000 a 3.000    20835
de 3.000 a 5.000    10103
até 1.000            4001
desempregado         3009
acima de 5.000       2907
none                  273
Name: count, dtype: int64

Coluna: estado_civil
estado_civil
solteiro(a)                                   16417
casado(a)                                     14694
união estável                                  4619
divorciado(a) ou separado(a)                   4313
outros                                          694
none                                            369
viúvo(a)                                         14
divorciado(a)                                     1
morando junto mais nao no papel                   1
casado                                            1
amasiado                                          1
casado mas nada no papel a mais de 10 anos        1
morro jinto                                       1
tenho uma companheira                             1
não somos casados no cartório                     1
Name: count, dtype: int64

Coluna: filhos
filhos
sim     30566
não     10364
none      198
Name: count, dtype: int64

Coluna: escolheu_profissao
escolheu_profissao
sonho de criança                                                                                                                                                                                                 14049
gosta da profissão                                                                                                                                                                                               13116
estabilidade de emprego                                                                                                                                                                                           6774
prestígio da carreira                                                                                                                                                                                             3960
segurança                                                                                                                                                                                                         1552
outros                                                                                                                                                                                                            1540
none                                                                                                                                                                                                               116
gosto da profissão                                                                                                                                                                                                   1
todos os ponto acima.                                                                                                                                                                                                1
inspiração meu pai                                                                                                                                                                                                   1
já trabalhei como escrivão ad hoc                                                                                                                                                                                    1
sempre trabalhando na área de segurança sou bombeiro                                                                                                                                                                 1
vou fazer. o curso de técnico em necropsia                                                                                                                                                                           1
já trabalho na área de segurança                                                                                                                                                                                     1
estabilidade e amor a profissão                                                                                                                                                                                      1
estudo criminologia e quero atuar na áreas                                                                                                                                                                           1
todas as opções anteriores                                                                                                                                                                                           1
reformado na pmmg                                                                                                                                                                                                    1
trocar de instituição                                                                                                                                                                                                1
sempre gostei da profissão,e pela também pela estabilidade de emprego                                                                                                                                                1
quando novo perdi a minha única oportunidade de servir o batalhão caveira no exército brasileiro de itu,por conta de uma paixão de adolescente, me arrependo até os dias de hj minha farda jogada aos porcos.        1
detetive                                                                                                                                                                                                             1
todo mundo que me conhece fala que eu tenho cara de polícia, e como eu já gosto da profissão resolvi arriscar.                                                                                                       1
pra mim é uma honra ter esse mérito! e amo fazer o trabalho do bem!                                                                                                                                                  1
quero novo conhecimento                                                                                                                                                                                              1
a lei foi instruída pelo profeta moisés pelo criador jeová                                                                                                                                                           1
ganhar um bom dinheiro                                                                                                                                                                                               1
bom emprego, salário, estabilidade,  número de vagas previsto                                                                                                                                                        1
Name: count, dtype: int64

Coluna: dificuldade
dificuldade
financeiro / dinheiro             13847
falta de oportunidades na vida    11759
falta de tempo                     7262
idade                              3319
none                               1989
falta de base escolar              1651
falta de oportunidade              1301
Name: count, dtype: int64

Coluna: comprou
comprou
0    40861
1      267
Name: count, dtype: int64

Coluna: utm_source
utm_source
Facebook-Ads              24038
google-ads                 4513
tva                        3096
instagram_feed             2261
instagram_reels            1762
instagram_stories          1480
NaN                         741
facebook_mobile_reels       385
search                      374
facebook_mobile_feed        372
TIKTOK                      371
INSTAGRAM                   358
instagram                   228
whatsapp                    134
facebook_right_column       132
youtube                     121
email                       114
YOUTUBE                     113
None                         98
facebook_stories             56
WHATSAPP                     49
bio                          35
instagram_explore            28
vadeos                       25
grupos antigos               23
wpp                          21
others                       21
stories                      19
canal                        17
qrcode                       16
manychat                     15
EMAILMKT                     13
ytb                          12
live                         12
email mkt                    11
ig                           10
fb                            8
ref_instagram                 6
google                        6
lista evento                  5
tiktok                        4
comunidade                    4
newsletter                    3
telegram                      3
yt_org                        3
facebook                      2
vadeo                         2
geral                         2
instagram_profile_feed        1
ref_google                    1
yt-org                        1
facebook_desktop_feed         1
grupos                        1
FACEBOOK                      1
Name: count, dtype: int64

Coluna: utm_medium
utm_medium
00 | ENVOLVIMENTO 60D                4836
00 | PAGINA DE CAPTURA 180D          3213
00 | ENVOLVIMENTO E PAGEVIEW 180D    3081
00 | SEGUIDORES                      2647
00 | LAL 1% LEADS QUALIFICADOS       2443
                                     ...
04_keywords_g                           1
04_ll_10_lista_de_alunos_g1wp           1
GERAL                                   1
04_ll_10_lista_de_alunos_d2wp           1
atendimentoa                            1
Name: count, Length: 140, dtype: int64

Coluna: utm_campaign
utm_campaign
opc-l34 | captacao | cbo | quente | br | 16-05-2025                                        7500
opc-l34 | captacao | cbo | morno/quente | br | 16-05-2025                                  6355
l32                                                                                        4853
opc-l34 | captacao | abo | frio lal10% lista aluno | br | 16-05-2025 | teste criativo      3250
opc-l34 | captacao | cbo | frio | br | 16-05-2025                                          3229
tvfa                                                                                       2521
l31                                                                                        2464
l33                                                                                        2421
pmax                                                                                       1583
opc-l34 | captacao | abo | frio aberto | br | 16-05-2025                                   1459
l34                                                                                        1037
opc-l34 | captacao | abo | frio lal10% lista aluno | br | 20-05-2025 | teste página         747
NaN                                                                                         741
opc-l34 | captacao | cbo | lista leads ultimos lançamentos | pagina 2 | br | 29-05-2025     510
opc-l34 | captacao | cbo | mix publicos quentes | pagina2 | br | 29-05-2025                 494
None                                                                                        481
l30                                                                                         376
l28                                                                                         293
l29                                                                                         254
search                                                                                      177
{{campaign.name}}                                                                           160
youtube                                                                                      76
instagram                                                                                    69
opc-l34 | captacao | cbo | morno\/quente | br | 16-05-2025                                   30
whatsapp                                                                                     23
opc-l34-teste                                                                                 6
e-mail                                                                                        5
120224773634130124                                                                            4
lista de email                                                                                3
120224774384420124                                                                            2
facebook                                                                                      2
120224774168030124                                                                            1
120224772382650124                                                                            1
telegram                                                                                      1
Name: count, dtype: int64

Coluna: utm_content
utm_content
ads_009_captacao_video_stories_p2_ads05-cap-1080x1920-l34-opc3.0    6164
ads_001_captacao_video_stories_p1_imagem_sobral_1                   4336
ads_012_captacao_video_stories_p4_ads08-cap-1080x1920-l34-opc3.0    4253
ads_005_captacao_video_stories_p1_video_vemai_v1                    3843
None                                                                3619
                                                                    ...
video_convite_irrecusavel                                              1
video_4500_vagas_yt                                                    1
video_posse_4017_yt                                                    1
video_8                                                                1
120224774168180124                                                     1
Name: count, Length: 226, dtype: int64

Coluna: utm_term
utm_term
None                       10083
Facebook_Mobile_Reels       6178
Instagram_Reels             5579
Instagram_Stories           4702
Instagram_Feed              3964
frio                        3869
Facebook_Mobile_Feed        2637
quente                      2615
NaN                          741
Facebook_Stories             387
{{placement}}                161
Instagram_Explore             80
Others                        46
morno                         45
Facebook_Profile_Feed         11
Facebook_Desktop_Feed          7
investigador                   6
an                             4
Facebook_Marketplace           4
120224773634120124             2
120224773634150124             2
120224774168050124             1
120225166666050124             1
120224774384400124             1
120224774384490124             1
Facebook_Instream_Video        1
Name: count, dtype: int64

Coluna: escolaridade_original
escolaridade_original
Ensino Médio Completo          19582
NaN                            11604
Ensino Fundamental Completo     3691
Ensino Superior Completo        3680
Outro                           2087
None                             484
Name: count, dtype: int64

In [51]:
df_leads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41128 entries, 0 to 41127
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data                   41128 non-null  datetime64[ns]
 1   lancamentos            41128 non-null  object
 2   email                  41128 non-null  object
 3   whatsapp               41126 non-null  object
 4   estado                 41128 non-null  object
 5   idade                  41128 non-null  object
 6   escolaridade           41128 non-null  object
 7   renda                  41128 non-null  object
 8   estado_civil           41128 non-null  object
 9   filhos                 41128 non-null  object
 10  escolheu_profissao     41128 non-null  object
 11  dificuldade            41128 non-null  object
 12  comprou                41128 non-null  int32
 13  utm_source             40289 non-null  object
 14  utm_medium             38184 non-null  object
 15  utm_campaign           39906 non-null  object
 16  utm_content            36768 non-null  object
 17  utm_term               30304 non-null  object
 18  escolaridade_original  29040 non-null  object
dtypes: datetime64[ns](1), int32(1), object(17)
memory usage: 5.8+ MB

In [52]:
df_leads['whatsapp'] = df_leads['whatsapp'].astype(str)
df_alunos['whatsapp'] = df_alunos['whatsapp'].astype(str)

In [53]:
output_dir = Path.cwd().parent / "dados"

df_leads.to_parquet(output_dir / "leads.parquet", index=False)
df_alunos.to_parquet(output_dir / "alunos.parquet", index=False)
df_dados_invest_face.to_parquet(output_dir / "invest_face.parquet", index=False)
df_dados_invest_google.to_parquet(output_dir / "invest_google.parquet", index=False)

In [54]:
output_path = Path.cwd().parent / "dados"
df_cpl_face.to_parquet(output_path / "invest_trafego_face.parquet", index=False)
df_cpl_google.to_parquet(output_path / "invest_trafego_google.parquet", index=False)

In [55]:
# Gerar timestamp com fuso horário de SP
fuso_brasil = pytz.timezone("America/Sao_Paulo")
agora_brasil = datetime.now(fuso_brasil)

# Caminho seguro para salvar
config_path = Path.cwd().parent / "config" / "ultima_atualizacao.txt"
with open(config_path, "w") as f:
    f.write(agora_brasil.strftime("%Y-%m-%d %H:%M:%S"))

In [56]:
try:
    caminho_data = Path.cwd().parent / "config" / "ultima_atualizacao.txt"
    with open(caminho_data, "r") as f:
        texto = f.read()
        data_atualizacao = datetime.strptime(texto, "%Y-%m-%d %H:%M:%S")
        data_atualizacao_formatada = data_atualizacao.strftime("%d/%m/%Y %H:%M")
except Exception:
    data_atualizacao_formatada = "Desconhecida"

In [57]:
f"**Última atualização:** {data_atualizacao_formatada}"

'**Última atualização:** 03/06/2025 07:31'